.status {
  width: 122px;
  height: 36px;
  border: 1px solid #00a7cf;
  border-radius: 10px;
  background-color: #f0f1f6;
  text-align: center;
  position: relative;
  vertical-align: middle;
  float: right;
  margin-right: 5px;

  &::after {
    content: '';
    height: 100%;
    display: inline-block;
    vertical-align: middle;
  }

  .loading {
    position: absolute;
    background-color: #00a7cf;
    height: 100%;
    border-radius: 10px;
  }

  .title {
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    font-family: Gotham;
    font-size: 15px;
    font-weight: bold;
    line-height: 20px;
  }
}